<div class="container">
        <h1>Welcome to the <strong><%= title %></strong> page</h1>
</div>
<a href="/add" class="btn btn-primary" role="button">
            <i class="fas fa-plus-circle"></i> Add a Contact</a>
            <br>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>


<div class="row">
    <div class="col">

        <table class="table table-striped table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Number</th>
                    <th scope="col">Email</th>
                    
                </tr>
            </thead>
            <tbody>
                <% for(let count=0; count < contacts.length; count++) { %>

                    <!-- Repeatable Row Template -->
                    <tr>
                        <th scope="row"><%= count + 1 %></th>
                        <td><%= contacts[count].name %></td>
                        <td><%= contacts[count].number %></td>
                        <td><%= contacts[count].email %></td>
                        
                    </tr>

                <% } %>    
            </tbody>
        </table>

    </div>
</div>